body {
  background: #fff;
}


.grid-component {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #bcbcbc;
}

.grid-component .square {
  font-size: 80px;
  line-height: 96px; /* 200px - 4px de borde */
  border: 2px solid #E91E63;
  width: 96px;
  height: 96px;
  position: absolute;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}