body {
  background: #FCE4EC;
}


.grid-component {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, - 50%, 0);
  background: #3F51B5;
}

.grid-component .square {
  font-size: 80px;
  line-height: 196px; /* 200px - 4px de borde */
  border: 2px solid #E91E63;
  width: 200px;
  height: 200px;
  position: absolute;
  font-family: serif;
}